.buttonShadow {
    box-shadow: -0.5rem 0.5rem 0;
    transition: box-shadow 600ms ease-in-out;
}

.buttonShadow:hover,
.buttonShadow:focus {
    box-shadow: -0.75rem 0.75rem 0;
}

.buttonShadow:active {
    box-shadow: -0.25rem 0.25rem;
}